*{
	margin: 0;
	padding: 0
}
.green{
	color:#82ae46; ! important;
}
.bg-green{
	background:#82ae46; ! important;
}
.container{
	width: 1040px;
	margin:2px auto;
}
/*******  font-family: 'Amatic SC', cursive;
    			font-family: 'Lora', serif;
    			font-family: 'Poppins', sans-serif;*/
   
/*header sec css*/
.header{
	 width: 100%;
}
.Top-header{
	width: 100%;
	background:#82ae46;
	padding-top: 7px;
	padding-bottom:5px;
	text-transform: uppercase;
}
.Top-header span{
	color: white;
    font-family:'Poppins', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}
.First{
	float: left;
	width: 20%;
}
.middle{
	margin-left: 160px;
}
.last{
	float: right;
}
.navber{
	display: flex;
	position: relative;
	justify-content: space-between;
	padding:20px 0px;
}
.logo a{
	font-size: 20px;
	text-transform: uppercase;
	font-family:"Poppins", Arial, sans-serif;
	font-weight: bold;
	color:#82ae46;
	text-decoration: none;
	font-weight:800;
	padding-left:20px;
}

.logo a:hover{
	background-color:white;
	color: #e4b2d6;
}

.Menus ul li{
	list-style: none; 
	display: inline-block;
	margin-left: 16px;
	position:relative;
	line-height: 1.7;

}
.Menus a{
	text-decoration: none;
}
.Menus ul li a{
  font-size: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family:"Poppins", Arial, sans-serif;
}

.has-sub-menu{
	position: absolute;
	margin-top:13px;
	left: -17px;
	width: 135px;
	padding: 18px;
	background-color: white;
	display: none;
}

.sub-menu li{
	list-style: none;
	display: block; !important
	margin-bottom:8px;
}
.Menus ul li:hover .has-sub-menu{
	display: block;
}

/*Banner section css*/
.Banner{
	width: 100%;
	background-image: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
	background-color: rgba(0, 0, 0, 0.1);
	padding:120px 0px ;
}
.banner-content{
	text-align: center;	
}
.banner-content h1{
  font-size: 8vw;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
}
.banner-content p{
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom:32px ;
}
.banner-button{
 background-color:#82ae46;
 color: white;
 padding: 8px 12px;
 text-decoration: none;
 font-size:16px;
 font-family:"Poppins", Arial, sans-serif;
 border-radius:35px ;
 border: 2px solid #82ae46;
 display: inline-block;
}
.banner-button:hover{
	background-color: transparent;
}
/*features section css*/

.features{
	width: 100%;
	padding:100px 0px ;
}
.features h1{
	text-align: center;
    font-size: 33px;
    margin-bottom: 56px;
    color: #2a9093e6;
    font-family: 'Poppins';
}

.f-item-gallery{
	display: grid;
	text-align: center;
	grid-template-columns: auto auto auto auto;
}
.f-item img{
	width: 50px;
	margin-top:26px;
	filter: invert(1);
}
.f-item h6{
	font-size: 15px;
	color: black;
	text-transform: uppercase;	
	font-family:"Poppins", sans-serif;
	margin-top: 12px;
	margin-bottom: 12px;
}
.font-size p{
text-transform: uppercase;
color: black;
opacity: 0.5s;
font-size: 12px;
font-family:"Poppins",sans-serif;
}	
.f-item span{
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: relative;
}
.f-item:nth-child(1) span{
	background-color:#e4b2d6;
}
.f-item:nth-child(2) span{
	background-color:#dcc698;
}
.f-item:nth-child(3) span{
	background-color:#a2d1e1;
}
.f-item:nth-child(4) span{
	background-color:#dcd691
}
.f-item span:hover{
	background-color:#82ae46 ;
}
.f-item span::before{
	position: absolute;
	content: " ";
	border-radius: 100%;
	border: 2px solid rgba(255,255,255,0.5);
	top:10px ;
	right:10px ;
	bottom:10px ;
	left:10px ;
}

/*Category section start*/

.f-category{
	width: 100%;
	padding: 30px 0px;
}
.fc-gallery{
	display: flex;
}
.fc-item{
	flex-basis: 33%;
}
.item-content{
	position:relative;
	margin bottom: 20px;
	padding-bottom:22px;
}
.item-content div{
	height: 250px;
	overflow: hidden;
}
.item-content a{
	position:absolute;
	bottom: 0;
	left: 0;
	background:#82ae46;
	color: white;
	display: inline-block;
	padding: 10px 20px;
	font-family: "Poppins", Arial, sans-serif;
	text-decoration: none;
	margin-bottom: 22px;

}
.item-content img{
	max-width: 100%;
	height: auto;
}
.second{
	margin: 24px;
	background-image: url(../img/img06.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	text-align: center;
}
.second h3{
color: #82ae46;
font-family: "Lora", Georgia, serif;
font-style: italic;
font-size: 24px;
line-height: 1.5;
font-weight: 400;
margin-bottom: 10px;
}
.second p{
font-family: "Poppins", Arial, sans-serif;
font-size: 15px;
line-height: 1.8;
font-weight: 400;
color: gray;
margin-bottom: 10px;

}
.fc-item .banner-button:hover{
	border-color:white;
	color:#82ae46;
	border-color:#82ae46 ;
}
.Products{
	width: 100%;
	padding: 80px 0px;
}
.section-title{
	text-align: center;
}
.section-title h6{
	  font-size: 18px;
    display: block;
    margin-bottom:24px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
    font-weight: 400;
}
.section-title h2{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family:'Poppins', sans-serif;
    margin-bottom:24px;
}
.section-title p{
	  font-family:"Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    font-weight:500;
    color: gray;
}
.Product-gallery{
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 32px;
	margin-top: 32px;
	grid-row-gap: 32px;

}
.Product-item img{
	width: 250px;
	margin-bottom: 16px;
}
.Product-item{
	border: 1px solid #eee;
	padding: 24px 0px;
	text-align: center;
	position: relative;
}
.Product-item h6 a{
	  font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
 		text-decoration: none;
    letter-spacing: 1px;
    font-family: serif;
    color: #000000;
    display:inline-block;
    margin-bottom:20px;
}
.price span del{
 color: #b3b3b3;
 font-family: serif;
 font-size: 400;
}
.price span {
 color:#82ae46;
 font-family: serif;
 font-size: 400;
}
.offer{
	  position: absolute;
    top: 0;
    left: 0;
    background: #82ae46;
    display: inline-block;
    font-weight: 400;
    font-family:serif;
    padding: 4px 10px ;
    color: white;
}

.product-meta a i{
	height: 40px;
	width: 40px;
	background-color:#82ae46;
	color: white;
	border-radius: 100%;
	line-height: 40px;
}
.product-meta {
	position: absolute;
	bottom:20px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.3s;
}
.Product-item:hover .product-meta {
	opacity:1;
	transition: 0.3s;
}
.Product-item:hover img{
 transform: scale(1.1) ;
}
.Product-item:hover {
	box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, /7%);
}
.Product-item:hover .price{
	opacity: 0;
}

/*Deal section css*/
.deal{
	width: 100%;
	background-image: url(../img/Jpg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0px;
}
.countdown{
	height: 100px;
}
.deal-content{
 display:flex;
 padding-left: 600px;
}
.deal-right{
	flex-basis: 50%;
}
.deal-right h6{
	  font-size: 18px;
 	  font-weight: 500;
    margin-bottom: 18px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
}


.deal-right h2{
  font-size:35px;
  font-weight: 600;
  color: #000000;
  font-family:"Poppins", Arial, sans-serif;
  margin-bottom:24px;
    
 
}
.deal-right p{    
	  font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    margin-bottom: 12px;
}
.deal-right h3{
	    color: #82ae46;
	    font-size:30px;
	    font-family:"Lora", Georgia, serif;
	    margin-bottom:16px;
	    font-style: italic;
	    font-weight: 300;

}
.deal-content .price span:first-child{
	color: #b3b3b3;
}

/*testimonial section css**/

.testimonial{
	width: 100%;
	padding:100px 0px;
}
.T-gallery{
	margin-top: 62px;
	display: grid;
	grid-template-columns: auto auto auto;
}
.owl-carousel .owl-item img{
	width: 100px;
	border-radius:100%;
}
.T-item{
	text-align: center;
	padding: 0px 32px;
}
.userimg{
	margin-bottom: 32px;
	position: relative;
	display: inline-block;
	width: 100px;
}
.T-item p{
	 font-size:15px;
   font-weight:400;
   color: #808080;
   font-family:'Poppins', sans-serif;
   margin-bottom:32px;
   border-left: 2px solid #eee;
   padding: 0px 18px;
   position: relative;
}
.T-item p::before{
	content: '';
	position:absolute;
	height: 30px;
	width: 3px;
	background-color:#82ae46;
	left: -2px;
	top: 50%;
	transform: translateY(-50%);
}
.T-item h4{
	  font-weight: 400;
    font-size: 18px;
    margin-bottom:10px;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
}
.T-item h6{
	  font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Poppins', sans-serif;
}
.userimg i{
	  height: 40px;
    width: 40px;
    color:#82ae46;
    background: white;
    border-radius: 100%;
    line-height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.mt-4{
	margin-top: 64px;
}
.owl-theme .owl-nav{
    margin-top: 10px;
    visibility: hidden;
} 

   /* softwaer section css */

.Software-Section{
	width: 100%;
	padding: 60px 0px;
}

.image-gallery img{
    width: 200px;
    padding-right: 25px;
    padding-left: 20px;
    margin-bottom: 50%;
}    
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

 /*Form sec css*/
 .Form{
 	width: 100%;
 	padding:35px 33px;
 	border-top: 1px solid #eee;
 	border-bottom: 1px solid #eee;
 }
 .form-topic form{
 	display:flex;
 }
 .form-left .form-right{
 	flex-basis: 50%;
 }
 .form-left h3{
line-height: 1.5;
font-weight: 400;
color: #2c0606;
font-family: "Poppins", Arial, sans-serif;
font-size: 22px;
}
.form-left p{
font-family: "Poppins", Arial, sans-serif;
 background: #fff;
 font-size: 15px;
 line-height: 1.8;
 color: gray;
}
.form-right{
	padding: 8px;
}
.f-control{
    padding: 12px 145px;
    margin-left: 75px;
    font-size: 15px;
    border: none;
    background-color:white;
}

.button{
	background-color: #82ae46;
    font-size: 16px;
    padding: 16px 20px;
    text-decoration: none;
    color: #fff;
    font-family: initial;
}
.footer{
	width: 100%;
	padding: 100px 0px;
}
.footer-content{
	display: flex;
	margin-bottom:42px ;
}
.footer1{
	flex-basis: 25%;
}
.footer2{
	flex-basis: 20%;
}
.footer3{
	flex-basis:35%;
}
.footer4{
	flex-basis: 20%;
}
.footer-content h5{
	margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: "Poppins",Arial,sans-serif;
}
.footer-content p{
  font-size: 14px;
  line-height: 2.0;
  font-weight: 400;
  color: #000;
  font-family: "Poppins",Arial,sans-serif;
}
.footer-icon{
	margin-top: 42px;
}
.footer-icon i{
	height: 40px;
	width: 40px;
	background-color:#f5f5f5;
	border-radius: 100%;
	text-align: center;
	line-height: 40px;
	font-size:25px ;
	font-weight:500;
	color: #000;
}
.footer-icon a{
	margine-right:8px;
}
.footer-icon i:hover{
	background-color:#82ae46;
	color:white ;
}
.footer4 i{
	margin-right: 16px;
}
.d-flex{
	display: flex;
}
.F-menu li{
	list-style: none;
	margin-bottom: 16px;
}
.F-menu li a{
font-size: 14px;
line-height:1.8;
font-weight: 400;
color: #000;
font-family: "Poppins",Arial,sans-serif;
text-decoration: none;
}
.copyright{
font-size: 14px;
line-height:1.8;
font-weight: 400;
color: #000;
font-family: "Poppins",Arial,sans-serif;
}
.copyright a{
	text-decoration: none;
}

#preloader{
	background:#fff url(../img/pulse.gif) no-repeat center; 
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.hambuger-icon{
	right: -238px;
    transform: translateY(7px);
	position: absolute;
	right: 0;
	top: 40%;
	cursor: pointer;
	display:none;
}


.mobile-menu{
	background-color: white;
	top: 0;
	left: 0;
	/*height: 100vh;*/
	position: fixed;
	text-align: center;
	display: none;
	width: 425px;
	transform: translateX(-425px);
}

.mobile-menu ul {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50% -50%);
	list-style: none;
}

.mobile-menu ul li{
	margin:16px 0px;
}
#cross{
	background: url(../img/close.png);
	z-index: 9999;
	top:20px;
	right:20px;
	width:38px;
	height: 40px;
	position: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: none;

}


 @media (max-width:767px){
	.hambuger-icon{
		display:block;
	}
	.Menus{
		display: none;
	}

 }

 .quickView-modal{
 	background: #2c060687;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display:none;
 }
 .quickView-modal .item-wrapper{
 	width: 450px;
    transform: translateY(100px);
    background-color: #dcd691;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    position: relative;
 }
  .quickView-modal .item-wrapper img{
  	width: 215px;
    border-radius: 100px;
}
  }

 .quickView-modal .item-wrapper h2{
  font-size: 25px;
  margin-top: 5px;
  font-weight: 600;
  color: #000000;
  font-family:"Poppins", Arial, sans-serif;
  margin-bottom:11px;
 }
 .quickView-modal .item-wrapper p{
    font-family: "Poppins", Arial, sans-serif;
    background: #dcd691;
    font-size: 18px;
    margin-bottom: 9px;
    color: black;
 }
 .quickView-modal .item-wrapper button{
  background-color: #82ae46;
    font-size: 20px;
    padding: 9px 7px;
    text-decoration: none;
    color: #11140b;
    font-family: cursive;
 }
 .clozebutton{
 	background: url(../img/close.png);
	z-index: 9999;
	top:20px;
	right:20px;
	width:38px;
	height: 40px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
 }


 /*/Slider Css Start///*/
 * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-top:80px;
  width: 70%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}